<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>petbot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>selfie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC23F8541CBEDA4A00EA0E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC23F86D1CBEDA4B00EA0E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC23F8781CBEDA4B00EA0E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC6FFEB31DC324D8003969CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
